# Image rotation in the Konqueror context menu 
# uses ImageMagick which comes with Knoppix 
# 
# by probono 
# GPL 
#
# Additions by Fabian Franz <knx-kdeservicemenus@fabian-franz.de>

[Desktop Entry]
ServiceTypes=image/png,image/gif
Actions=rotate_ccw;rotate_cw;flip_hor;flip_ver
 
[Desktop Action rotate_ccw]
Name=Rotate Counterclockwise
Name[de]=Gegen den Uhrzeigersinn rotieren 
Icon=rotate_ccw
Exec=mogrify -rotate 270 "%u"
 
[Desktop Action rotate_cw] 
Name=Rotate Clockwise
Name[de]=Im Uhrzeigersinn rotieren
Icon=rotate_cw 
Exec=mogrify -rotate 90 "%u"

[Desktop Action flip_hor]
Name=Flip Horizontal
Name[de]=Horizontal spiegeln
Exec=mogrify -flop "%u"

[Desktop Action flip_ver]
Name=Flip Vertical
Name[de]=Vertikal spiegeln
Exec=mogrify -flip "%u"
