Source: kdeservicemenus-sidux
Section: kde
Priority: extra
Maintainer: Stefan Lippers-Hollmann <s.l-h@gmx.de>
Build-Depends: cdbs, debhelper (>= 5)
Standards-Version: 3.7.2

Package: kdeservicemenus-sidux
Architecture: all
Depends: su-me, kate
Description: several kde service menus
 Until now included: 
 - Edit as root
