Source: kdeservicemenus-sidux
Section: kde
Priority: optional
Maintainer: Stefan Lippers-Hollmann <s.l-h@gmx.de>
Build-Depends: cdbs (>= 0.4.23-1.1), debhelper (>= 5.0.0)
Standards-Version: 3.7.2

Package: kdeservicemenus-sidux
Architecture: all
Depends: libjpeg-progs, imagemagick, zip, dialog, xdialog, su-me
Conflicts: kdeservicemenus-kanotix
Suggests: kde, kmail, konqueror, kate
Description: several kde service menus
 Until now included: 
 Edit as root,
 Rotate CC/CCW, Flip/Flop (JPG/PNG/GIF),
 Zip files/zip and email and email one file.
 JPG is lossless modified, thx to libjpeg-progs.
 Note: For email support you need to have kmail installed.
