Source: kdeservicemenus-sidux
Section: kde
Priority: extra
Maintainer: Stefan Lippers-Hollmann <s.l-h@gmx.de>
Build-Depends: cdbs, debhelper (>= 5)
Standards-Version: 3.7.3
Vcs-Svn: svn://svn.berlios.de/fullstory/kdeservicemenus-sidux/trunk
Vcs-Browser: http://svn.berlios.de/wsvn/fullstory/kdeservicemenus-sidux/trunk/

Package: kdeservicemenus-sidux
Architecture: all
Depends: menu, kate
Description: several kde service menus
 Until now included: 
 - Edit as root
